

$display-pc: 1200px;
$display-mobile: 680px;
$display-tablets: 1024px;
$colorMain:#fff;
$colorHover:#f7814d;
$colorAdd:#3c4d68;
$colorText:#b3b3b3;
$borderRadius:4px;

*,
*:before,
*:after {
  box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
  display: block;
}

.clearfix:before,
.clearfix:after{
  content: '';
  clear: both;
  display:table;
}

.col-3 {
  width: 100%;
  float: left;
  margin-top:15px;
}


body{
  font-family: 'Open Sans',Helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;
  color:$colorText;
}

a{
  text-decoration: none;
}



.box{
  background: #e2e2e2;
  padding: 15px;
}


.inner {
  max-width: 1280px;
  /*  padding:0 15 px;*/
  margin:0 auto;
  width:100%;

}

.plans{

  &__item {
    background: $colorMain;
    height: auto;
    cursor: pointer;
    border-radius: $borderRadius;
    text-align: center;
    padding-bottom: 15px;

    &:first-child {
      margin-left: 0;
    }

    &-price{
      text-align: center;
      padding: 11px;
      background: $colorAdd;
      color:fadein($colorMain,50%);
      font-size: 16px;
      font-weight: bold;

      span{
        color:$colorMain;
      }
    }

    &-content{
      text-align: center;
      padding: 0 12px;
    }

    &-name {
      font-size: 28px;
      color:$colorAdd;
      border-radius: $borderRadius $borderRadius 0 0;
    }

    &:hover .btn-link{
      background: $colorHover;
      color:$colorMain;
      border:none;
      transition:all 0.5s;
    }

    &:hover{
      transform: scaleY(1.02);
      transition:all 0.5s;

    }

    &:hover > .plans__item-name{
      background: $colorAdd;
      color:$colorMain;
      transition:all 0.5s;
    }

    &:hover > .plans__item-price{
      background: $colorHover;
      color:$colorMain;
      transition:all 0.5s;
    }

  }
}

.plan-head{
  height: 84px;
  font-weight: 300;
  margin: 0;
  text-align: center;
  padding: 15px;
  font-size: 35px;
  letter-spacing: -2px;
  word-spacing: 1px;

  &:hover{

  }
}
.plan-list{
  list-style: none;
  text-align: center;
  font-size: 16px;
  padding: 17px;
  line-height: 37px;

  &__item {

    &-name {
      font-weight: bold;
      color: $colorAdd;
    }
  }
}
.btn-link{
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid $colorAdd;
  color: $colorAdd;
  padding: 10px 0;
  width: 100%;
  height: 46px;
  border-radius: $borderRadius;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 2px;

}

@media only screen and (min-width: 30em){


  .col-3{
    width: 48%;
    margin-left: 2%;
  }


  .plans__item:nth-child(3) {
    margin-left: 0;
  }

  .ml-zero{
    margin-left: 0;
  }
}

@media only screen and (min-width: 64em){

  .col-3{
    width: 24%;
    margin-left: 1%;
    margin-top:0;
  }
  .box{
    padding: 77px;
  }

  .plans__item:nth-child(3) {
    margin-left: 1%;
  }
}
